* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(6, 6, 42);
  /* background-color: #2e2e46; */
}

header {
  height: 728px;
  background-image: url(./imgs/rm3j73batch2-16-01\ 1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(8, 8, 61);
}
table {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
tr,
td {
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 30px;
  color: #e3e7ee;
  /* min-width: 1000px; */
}

td {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

td button {
  background-color: transparent;
  border: none;
  color: #007afc;
  border-radius: 2px;
  font-size: 28px;
  cursor: pointer;
}

main {
  margin-top: 160%;
}
.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 40px;
}
.hedr-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 190%;
  letter-spacing: 5%;
  transition: all 0.2s linear;
}

nav a:hover {
  color: rgb(93, 93, 217);
  transition: all 0.2s linear;
}
.btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.on-btn {
  border: 2px solid;
  background-color: rgb(8, 8, 61);
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.3s linear;
}

.tw-btn {
  border: none;
  background-color: #e03f3f;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 14px;
  transition: all 0.3s linear;
}

.menu-bar i {
  font-size: 32px;
  color: #ffffff;
  display: none;
}

.btn button:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
  cursor: pointer;
}
.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52px;
}
.subtitle h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 3%;
  border: 2px solid #e03f3f;
  border-radius: 49px;
  max-width: 200px;
  padding: 8px 10px;
}

.string {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* text-align: center; */
}
.string h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 92px;
  margin-top: 10px;
}

.string p {
  color: #b6c4ca;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  max-width: 800px;
  margin-top: 43px;
}
.string-img img {
  margin: 73px auto;
  /* text-align: center; */
  display: flex;
}

.img-hero {
  display: flex;
  justify-content: center;
}

.img-hero img {
  width: 100%;
  margin-top: -52px;
}

.more-icon {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.more-icon img {
  width: 100%;
}

.all-card {
  margin-top: -900px;
}

.polo {
  margin-top: -70px;
}

.end {
  margin-top: -50px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 52px;
}

.mini-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 52px;
}

.main-text {
  /* margin-top: 35px; */
  margin: 0 auto;
  /* padding: 0px 12px; */
}
.main-text li {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 3%;
  color: #ffffff;
  border: 3px solid #e03f3f;
  border-radius: 49px;
  padding: 5px 6px;
  max-width: 161px;
  text-align: center;
}

.main-text h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 92px;
  margin-top: 0px;
}

.main-text p {
  color: #9ba2b2;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.14px;
  max-width: 375px;
  margin-top: 8px;
}

.main-text span {
  display: inline-block;
  margin-top: 50px;
  color: #e03f3f;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 5%;
}
.main-img img {
  width: 100%;
  max-width: 600px;
}

.adval {
  background-color: #011b40;
  max-width: 1050px;
  border-radius: 10px;
  margin: 52px auto;
  padding: 40px;
}
.jadval {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jadval h2 {
  color: #e3e7ee;
  font-weight: 400;
  font-size: 22px;
  line-height: 31.2px;
  letter-spacing: -0.14px;
}

.jadval span {
  color: #007afc;
  font-size: 35px;
}

.paragrf p {
  color: #9ba2b2;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.14px;
  margin-top: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 36px;
  justify-content: center;
  margin-top: 80px;
}

.box {
  background-color: #0c2643;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.row-line {
  border: 2px solid gray;
}

.all-foter {
  display: flex;
  align-items: center;
  /* gap: 163px; */
  /* margin-top: 200px; */
  /* justify-content: space-between; */
}

.all-links {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 130px;
}
.all-links h2 {
  color: #e2e7ee;
  font-weight: 700;
  font-size: 14px;
  line-height: 22.2px;
  letter-spacing: 1px;
}

.all-links a {
  text-decoration: none;
  display: flex;
  color: #959ba5;
  margin-top: 12px;
  transition: all 0.2s linear;
  font-weight: 400;
  /* font-size: 11px; */

  /* padding: 10px; */
  /* margin: 10px; */
  /* align-items: center; */
  /* flex-direction: column; */
}

.all-links a:hover {
  color: #007afc;
  transition: all 0.2s linear;
  cursor: pointer;
}

.icon-foter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 52px;
}
.link-ft a {
  text-decoration: none;
  margin: 0px 8px;
  color: #959ba5;
  transition: all 0.2s linear;
}

.link-ft a:hover {
  color: #007afc;
  transition: all 0.2s linear;
  cursor: pointer;
}
.icon-img {
  display: flex;
  gap: 40px;
  cursor: pointer;
}

@media (max-width: 740px) {
  .icon-foter {
    /* text-align: center; */
    /* flex-wrap: wrap; */
    /* margin-top: 10px; */
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 1100px) {
  .card {
    flex-direction: column;
  }

  .mini-card {
    flex-direction: column-reverse;
  }

  .all-card {
    margin-top: -100px;
  }

  .foter-img img {
    display: none;
  }

  .all-links {
    flex-direction: column;
    /* margin-top: 15px; */
  }
}

@media (max-width: 868px) {
  .hedr-nav nav,
  .btn {
    display: none;
  }
  .menu-bar i {
    display: block;
  }

  .string h1 {
    font-size: 40px;
  }
}
